/*! Стили для таблицы */
table {
    border-collapse: collapse;
}

/*! Стили для ячеек таблицы */
td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

/*! Окрашивание четных строк */
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: #000; /*! Черные клетки */
}

/*! Окрашивание нечетных строк */
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: #fff;
}

/*! Зеленая граница шахматной доски */
tr:first-child td,
tr:last-child td,
td:first-child,
td:last-child {
    background-color: #90ee90 !important;
    border-color: #90ee90;
}

/*! Окрашиваем углы доски */
tr:first-child td:first-child,
tr:first-child td:last-child,
tr:last-child td:first-child,
tr:last-child td:last-child {
    background-color: #90ee90 !important;
}