.star-rating {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 0;
}
.star {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url('star0.png');
    background-size: cover;
    cursor: pointer;
}
.star:hover,
.star:hover ~ .star {
    background-image: url('star1.png');
}